<div class="grid-container">
  <form class="form row col-4" (keydown)="onForgetPassword($event)">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="text"
        class="form-control bg-light mt-2"
        [(ngModel)]="selectedEmail"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        name="email"
      />
    </div>

    <div class="d-flex justify-content-end">
      <button
        type="button"
        [disabled]="!selectedEmail"
        class="btn btn-primary"
        (click)="forgetPassword()"
      >
        <span
          *ngIf="isLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        <span *ngIf="isLoading" class="sr-only">Submit</span>
        <span *ngIf="!isLoading">Submit</span>
      </button>
      <p-toast />
    </div>
  </form>
</div>
