<div class="card">
  <div class="card-header">
    <h6>{{ data.title }}</h6>
  </div>
  <div class="card-body">
    <p>{{ data.message }}</p>
    <!-- <mat-dialog-actions align="end">
            <button mat-raised-button id="error-btn" mat-dialog-close cdkFocusInitial>Ok</button>
        </mat-dialog-actions>  -->
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-end">
      <button mat-raised-button id="error-btn" mat-dialog-close cdkFocusInitial>
        Ok
      </button>
    </div>
  </div>
</div>
